
<section >
      <div class="card border-secondary shadow  rounded mb-3 ml-5" >
        <div class="card-body text-secondary">
          <p class="card-text">{{comment_text}}</p>
           <p class="card-text"><small class="text-muted">-Created By: <span class="badge  bg-warning text-dark">{{user.username}}</span> on  {{createdAt}} </small></p>
        </div>
      </div>

</section>



  